#projects{
display: 'none'
}
body{
  background: linear-gradient(skyblue, red, skyblue);
}
#fep{
  background: skyblue;
  border: 1px solid black;
  text-decoration: none;
    position: relative;
  color: red;
}
#bep{
  background: skyblue;
  border: 1px solid black;
  position: relative;
  top: 10;
  text-decoration: none;
  color: red;
}

#container{
  display: flex;

}

#containerImage{
  display: flex;
}

#video{
  margin-left: 60%;  
}

.image{
  margin-left: 1%;
}
#bball{
  margin-left: 35%;
}
#sboard{
  margin-left: 10px;
}
